In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
from datetime import datetime
from sklearn.preprocessing import OrdinalEncoder
from category_encoders import HashingEncoder

In [2]:
non_laundering_df = pd.read_csv("part_1.csv")
laundering_df = pd.read_csv("laundering_transactions.csv")

C:\Users\Administrator\AppData\Local\Temp\ipykernel_5964\3595299628.py:1: DtypeWarning: Columns (5,7) have mixed types. Specify dtype option on import or set low_memory=False.
  non_laundering_df = pd.read_csv("part_1.csv")

In [33]:
non_laundering_df.head()

,Timestamp,From Bank,Account,To Bank,Account.1,Amount Received,Receiving Currency,Amount Paid,Payment Currency,Payment Format,Is Laundering
0,2019/01/23 00:53,822E8A320,85A4AF500,887BC7120,A260915B0,41.05,Euro,41.05,Euro,Credit Card,0
1,2019/01/03 03:23,920F27020,926C36820,91D1A4620,93B0685F0,9318.37,Ruble,9318.37,Ruble,Cash,0
2,2019/01/21 09:29,B189DCBE0,B3199B700,B1CC75EA0,B328C2650,0.139284,Bitcoin,0.139284,Bitcoin,Cash,0
3,2019/01/05 00:14,929ED0080,99EC3E540,964A86860,A5EED4620,8.17,Euro,8.17,Euro,Credit Card,0
4,2019/01/02 03:56,873813880,9516363D0,97AAEFB30,A01FE3050,978.56,US Dollar,978.56,US Dollar,Cheque,0

In [34]:
laundering_df.head()

,Timestamp,From Bank,Account,To Bank,Account.1,Amount Received,Receiving Currency,Amount Paid,Payment Currency,Payment Format,Is Laundering
0,2019/01/01 00:05,8021ADE00,80238F220,9A7F59FA0,A23691240,33.97,US Dollar,33.97,US Dollar,Credit Card,1
1,2019/01/01 00:28,80272F020,81DE06080,84461DF90,88BC68FF0,75.32,US Dollar,75.32,US Dollar,Credit Card,1
2,2019/01/01 00:13,81F65EF20,82B6F8380,A68E33DF0,A755CFD50,144.84,US Dollar,144.84,US Dollar,Credit Card,1
3,2019/01/01 00:24,829EF5F10,82B6F8470,8BC205620,90B78CF60,54.24,US Dollar,54.24,US Dollar,Credit Card,1
4,2019/01/01 00:08,8321EF9D0,860996AB0,8001B5DA0,802477980,39.52,US Dollar,39.52,US Dollar,Credit Card,1

In [6]:
laundering_df.shape, non_laundering_df.shape

((55423, 11), (120000, 11))

In [5]:
non_laundering_df = non_laundering_df.sample(n=120000)

In [7]:
total_df = pd.concat([laundering_df, non_laundering_df], axis=0)

In [8]:
total_df.shape

(175423, 11)

In [9]:
# Shuffle the dataset
df = total_df.sample(frac=1, random_state=42)
df.head()

,Timestamp,From Bank,Account,To Bank,Account.1,Amount Received,Receiving Currency,Amount Paid,Payment Currency,Payment Format,Is Laundering
721374,2019/01/18 22:28,AEA7127E0,B001D8FF0,AE1862530,B0020F8C0,2735.57,Saudi Riyal,2735.57,Saudi Riyal,ACH,0
1731318,2019/01/22 01:29,A4FA712A0,A5230B5F0,865A7E920,A5230B080,1497.83,Euro,1497.83,Euro,ACH,0
1363364,2019/01/28 18:12,A75670510,A75F51B90,A7855FEE0,A7C491440,767.62,Swiss Franc,767.62,Swiss Franc,Cheque,0
448157,2019/01/08 00:29,985D78EA0,9A6EBFB00,85819CDF0,8B7802F80,85.73,US Dollar,85.73,US Dollar,Credit Card,0
788971,2019/01/03 12:20,9AA836F10,9C11F0E70,9CBBBFCB0,9D0567C30,9705.26,Australian Dollar,9705.26,Australian Dollar,ACH,0

In [39]:
# df.to_csv("shuffled_dataset(part_1+launderingdata).csv", index=False)

In [40]:
df.columns

Index(['Timestamp', 'From Bank', 'Account', 'To Bank', 'Account.1',
       'Amount Received', 'Receiving Currency', 'Amount Paid',
       'Payment Currency', 'Payment Format', 'Is Laundering'],
      dtype='object')

In [41]:
for col in df.columns:
    df[col] = df[col].replace("(null)", np.nan)

Checking for NULL value

In [42]:
df.isnull().sum(axis = 0)

Timestamp               0
From Bank               0
Account                 0
To Bank                 0
Account.1               0
Amount Received       146
Receiving Currency      0
Amount Paid            25
Payment Currency        0
Payment Format          0
Is Laundering           0
dtype: int64

In [43]:
df["Amount Received"] = df["Amount Received"].astype(float)
df["Amount Paid"] = df["Amount Paid"].astype(float)

In [44]:
# Filling up the null value of Amount Received column based on the value of Amount Paid.
for i in range(len(df["Amount Received"])):
    if pd.isnull(df["Amount Received"].iloc[i]) and (not pd.isnull(df["Amount Paid"].iloc[i])):
        df["Amount Received"].iloc[i] = df["Amount Paid"].iloc[i]

C:\Users\Administrator\AppData\Local\Temp\ipykernel_15116\3633458371.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df["Amount Received"].iloc[i] = df["Amount Paid"].iloc[i]

In [45]:
# Filling up the null value of Amount Paid column based on the value of Amount Received.
for i in range(len(df["Amount Paid"])):
    if pd.isnull(df["Amount Paid"].iloc[i]) and (not pd.isnull(df["Amount Received"].iloc[i])):
        df["Amount Paid"].iloc[i] = df["Amount Received"].iloc[i]

C:\Users\Administrator\AppData\Local\Temp\ipykernel_15116\2356711384.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df["Amount Paid"].iloc[i] = df["Amount Received"].iloc[i]

In [46]:
df.isnull().sum(axis = 0)

Timestamp             0
From Bank             0
Account               0
To Bank               0
Account.1             0
Amount Received       0
Receiving Currency    0
Amount Paid           0
Payment Currency      0
Payment Format        0
Is Laundering         0
dtype: int64

In [47]:
if df.isnull().any().any():
    print("At least one column contains null values.")
else:
    print("No column contains null values.")

No column contains null values.

In [48]:
# Convert the timestamp column to datetime objects
df["Timestamp"] = df["Timestamp"].apply(lambda x: datetime.strptime(x, "%Y/%m/%d %H:%M"))

# Extract year, month, day, hour, and minute components into separate columns
df["year"] = df["Timestamp"].dt.year
df["month"] = df["Timestamp"].dt.month
df["day"] = df["Timestamp"].dt.day
df["hour"] = df["Timestamp"].dt.hour
df["minute"] = df["Timestamp"].dt.minute

In [49]:
df = df.drop("Timestamp", axis=1)

In [51]:
# Zero mean and a standard deviation of 1
quant_features = ['Amount Received', 'Amount Paid']
scaled_features = {}

for each in quant_features:
    mean, std = df[each].mean(), df[each].std()
    scaled_features[each] = [mean, std]
    df.loc[:, each] = (df[each] - mean)/std

In [52]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 2322999 entries, 2212990 to 2163687
Data columns (total 15 columns):
 #   Column              Dtype
---  ------              -----
 0   From Bank           object
 1   Account             object
 2   To Bank             object
 3   Account.1           object
 4   Amount Received     float64
 5   Receiving Currency  object
 6   Amount Paid         float64
 7   Payment Currency    object
 8   Payment Format      object
 9   Is Laundering       int64
 10  year                int64
 11  month               int64
 12  day                 int64
 13  hour                int64
 14  minute              int64
dtypes: float64(2), int64(6), object(7)
memory usage: 283.6+ MB

In [53]:
df.count()

From Bank             2322999
Account               2322999
To Bank               2322999
Account.1             2322999
Amount Received       2322999
Receiving Currency    2322999
Amount Paid           2322999
Payment Currency      2322999
Payment Format        2322999
Is Laundering         2322999
year                  2322999
month                 2322999
day                   2322999
hour                  2322999
minute                2322999
dtype: int64

In [54]:
columns = ["Payment Format", "Payment Currency", "Receiving Currency", "Is Laundering", "year", "month", 'day', 'hour', 'minute']

print('------------------------------------------------------')
for col in columns:
    print(col)
    print(df[col].value_counts())
    print('------------------------------------------------------\n\n')

------------------------------------------------------
Payment Format
Credit Card     751250
ACH             568303
Reinvestment    537679
Cheque          348426
Cash             78933
Wire             33769
Bitcoin           4639
Name: Payment Format, dtype: int64
------------------------------------------------------


Payment Currency
US Dollar            849699
Euro                 535979
Yuan                 136364
Bitcoin              100674
Yen                   77600
Rupee                 69439
Mexican Peso          68787
Swiss Franc           68505
Ruble                 64727
UK Pound              64510
Canadian Dollar       62650
Australian Dollar     60649
Saudi Riyal           59489
Brazil Real           52196
Shekel                51731
Name: Payment Currency, dtype: int64
------------------------------------------------------


Receiving Currency
US Dollar            847754
Euro                 537367
Yuan                 134431
Bitcoin              101013
Yen                   77540
Rupee                 69182
Mexican Peso          69015
Swiss Franc           68849
Ruble                 64751
UK Pound              64748
Canadian Dollar       63131
Australian Dollar     61056
Saudi Riyal           59712
Brazil Real           52515
Shekel                51935
Name: Receiving Currency, dtype: int64
------------------------------------------------------


Is Laundering
0    2267576
1      55423
Name: Is Laundering, dtype: int64
------------------------------------------------------


year
2019    2322999
Name: year, dtype: int64
------------------------------------------------------


month
1    2322999
Name: month, dtype: int64
------------------------------------------------------


day
31    649668
3     257466
2     185708
21    144654
7     116800
14     96256
28     81836
27     33454
24     33439
29     33436
22     33341
30     33335
25     33333
26     33288
10     33246
20     33181
23     33136
19     33060
15     33024
17     32973
5      32924
16     32891
12     32790
18     32789
8      32758
4      32751
11     32718
9      32607
13     32568
6      32473
1      31096
Name: day, dtype: int64
------------------------------------------------------


hour
0     1151975
1       68433
23      55913
2       55683
3       52380
22      51573
21      50632
4       50566
20      49970
19      49821
5       49683
18      49263
17      49195
9       49134
6       49085
16      49066
14      49055
15      49008
8       48979
12      48922
11      48857
7       48856
13      48538
10      48412
Name: hour, dtype: int64
------------------------------------------------------


minute
14    56320
17    56202
19    56176
3     56174
15    56140
26    56132
11    56097
6     56090
5     56061
20    56030
27    55989
9     55961
22    55933
1     55921
29    55918
16    55876
4     55873
2     55862
13    55845
18    55800
7     55778
24    55776
28    55749
8     55695
25    55669
12    55638
21    55599
10    55584
23    55554
0     55429
41    21927
36    21867
55    21817
51    21775
48    21694
33    21647
52    21638
59    21620
39    21612
40    21595
47    21586
54    21579
56    21535
35    21529
30    21506
44    21503
45    21454
50    21453
58    21446
43    21444
57    21443
42    21437
31    21435
49    21431
32    21404
46    21389
34    21376
38    21342
37    21341
53    21303
Name: minute, dtype: int64
------------------------------------------------------

In [55]:
df.columns

Index(['From Bank', 'Account', 'To Bank', 'Account.1', 'Amount Received',
       'Receiving Currency', 'Amount Paid', 'Payment Currency',
       'Payment Format', 'Is Laundering', 'year', 'month', 'day', 'hour',
       'minute'],
      dtype='object')

In [56]:
for col in df.columns:
    print(f"{col}: {len(df[col].unique())}")

From Bank: 98431
Account: 1779224
To Bank: 54116
Account.1: 1831709
Amount Received: 844356
Receiving Currency: 15
Amount Paid: 845301
Payment Currency: 15
Payment Format: 7
Is Laundering: 2
year: 1
month: 1
day: 31
hour: 24
minute: 60

In [57]:
df.head()

,From Bank,Account,To Bank,Account.1,Amount Received,Receiving Currency,Amount Paid,Payment Currency,Payment Format,Is Laundering,year,month,day,hour,minute
2212990,806F22180,809A7E720,824E879B0,8AC7E77F0,-0.028060,US Dollar,-0.027001,US Dollar,Credit Card,0,2019,1,2,6,24
182129,976E96400,9B5DE83F0,82A31B220,862E00630,-0.028098,Euro,-0.027039,Euro,Credit Card,0,2019,1,27,0,17
1023159,817A3E5E0,9A51AF550,817A3E5E0,9A51AF550,-0.028051,US Dollar,-0.026993,US Dollar,Reinvestment,0,2019,1,31,0,9
756674,800114480,98FC49A60,990E86CF0,99EBC14D0,-0.027848,Canadian Dollar,-0.026795,Canadian Dollar,Cash,0,2019,1,3,9,25
481467,80CF261D0,822B315C0,80A5263F0,85A330490,-0.027758,US Dollar,-0.026708,US Dollar,Cheque,0,2019,1,2,13,36

In [58]:
cols_to_encode = ["From Bank", "To Bank"]
# Create an instance of the OrdinalEncoder class
encoder = OrdinalEncoder()
encoder.fit(df[cols_to_encode])

OrdinalEncoder()

In [59]:
df[cols_to_encode] = encoder.transform(df[cols_to_encode])

In [60]:
df.head()

,From Bank,Account,To Bank,Account.1,Amount Received,Receiving Currency,Amount Paid,Payment Currency,Payment Format,Is Laundering,year,month,day,hour,minute
2212990,1591.0,809A7E720,4276.0,8AC7E77F0,-0.028060,US Dollar,-0.027001,US Dollar,Credit Card,0,2019,1,2,6,24
182129,40421.0,9B5DE83F0,4793.0,862E00630,-0.028098,Euro,-0.027039,Euro,Credit Card,0,2019,1,27,0,17
1023159,4398.0,9A51AF550,2942.0,9A51AF550,-0.028051,US Dollar,-0.026993,US Dollar,Reinvestment,0,2019,1,31,0,9
756674,54.0,98FC49A60,29340.0,99EBC14D0,-0.027848,Canadian Dollar,-0.026795,Canadian Dollar,Cash,0,2019,1,3,9,25
481467,2639.0,822B315C0,1437.0,85A330490,-0.027758,US Dollar,-0.026708,US Dollar,Cheque,0,2019,1,2,13,36

In [61]:
df["From Bank"] = df["From Bank"].astype(int)
df["To Bank"] = df["To Bank"].astype(int)

In [62]:
df.head()

,From Bank,Account,To Bank,Account.1,Amount Received,Receiving Currency,Amount Paid,Payment Currency,Payment Format,Is Laundering,year,month,day,hour,minute
2212990,1591,809A7E720,4276,8AC7E77F0,-0.028060,US Dollar,-0.027001,US Dollar,Credit Card,0,2019,1,2,6,24
182129,40421,9B5DE83F0,4793,862E00630,-0.028098,Euro,-0.027039,Euro,Credit Card,0,2019,1,27,0,17
1023159,4398,9A51AF550,2942,9A51AF550,-0.028051,US Dollar,-0.026993,US Dollar,Reinvestment,0,2019,1,31,0,9
756674,54,98FC49A60,29340,99EBC14D0,-0.027848,Canadian Dollar,-0.026795,Canadian Dollar,Cash,0,2019,1,3,9,25
481467,2639,822B315C0,1437,85A330490,-0.027758,US Dollar,-0.026708,US Dollar,Cheque,0,2019,1,2,13,36

In [63]:
cols_to_encode = ["Account", "Account.1"]
# Create an instance of the HashingEncoder class
encoder = HashingEncoder(cols=cols_to_encode)
df_encoded = encoder.fit_transform(df)

In [64]:
df_encoded.head()

,col_0,col_1,col_2,col_3,col_4,col_5,col_6,col_7,From Bank,To Bank,...,Receiving Currency,Amount Paid,Payment Currency,Payment Format,Is Laundering,year,month,day,hour,minute
2212990,0,0,0,1,0,1,0,0,1591,4276,...,US Dollar,-0.027001,US Dollar,Credit Card,0,2019,1,2,6,24
182129,0,1,0,1,0,0,0,0,40421,4793,...,Euro,-0.027039,Euro,Credit Card,0,2019,1,27,0,17
1023159,0,2,0,0,0,0,0,0,4398,2942,...,US Dollar,-0.026993,US Dollar,Reinvestment,0,2019,1,31,0,9
756674,1,0,0,0,1,0,0,0,54,29340,...,Canadian Dollar,-0.026795,Canadian Dollar,Cash,0,2019,1,3,9,25
481467,0,1,0,0,1,0,0,0,2639,1437,...,US Dollar,-0.026708,US Dollar,Cheque,0,2019,1,2,13,36

In [65]:
df_encoded = df_encoded.drop("year", axis=1)
df_encoded = df_encoded.drop("month", axis=1)

In [66]:
df_encoded.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 2322999 entries, 2212990 to 2163687
Data columns (total 19 columns):
 #   Column              Dtype
---  ------              -----
 0   col_0               int64
 1   col_1               int64
 2   col_2               int64
 3   col_3               int64
 4   col_4               int64
 5   col_5               int64
 6   col_6               int64
 7   col_7               int64
 8   From Bank           int32
 9   To Bank             int32
 10  Amount Received     float64
 11  Receiving Currency  object
 12  Amount Paid         float64
 13  Payment Currency    object
 14  Payment Format      object
 15  Is Laundering       int64
 16  day                 int64
 17  hour                int64
 18  minute              int64
dtypes: float64(2), int32(2), int64(12), object(3)
memory usage: 336.7+ MB

In [67]:
df_encoded.shape

(2322999, 19)

In [68]:
cols_to_encode = ["Receiving Currency", "Payment Currency", "Payment Format"]

new_df_encoded = pd.get_dummies(df_encoded, columns=cols_to_encode)
new_df_encoded.head()

,col_0,col_1,col_2,col_3,col_4,col_5,col_6,col_7,From Bank,To Bank,...,Payment Currency_US Dollar,Payment Currency_Yen,Payment Currency_Yuan,Payment Format_ACH,Payment Format_Bitcoin,Payment Format_Cash,Payment Format_Cheque,Payment Format_Credit Card,Payment Format_Reinvestment,Payment Format_Wire
2212990,0,0,0,1,0,1,0,0,1591,4276,...,1,0,0,0,0,0,0,1,0,0
182129,0,1,0,1,0,0,0,0,40421,4793,...,0,0,0,0,0,0,0,1,0,0
1023159,0,2,0,0,0,0,0,0,4398,2942,...,1,0,0,0,0,0,0,0,1,0
756674,1,0,0,0,1,0,0,0,54,29340,...,0,0,0,0,0,1,0,0,0,0
481467,0,1,0,0,1,0,0,0,2639,1437,...,1,0,0,0,0,0,1,0,0,0

In [69]:
new_df_encoded.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 2322999 entries, 2212990 to 2163687
Data columns (total 53 columns):
 #   Column                                Dtype
---  ------                                -----
 0   col_0                                 int64
 1   col_1                                 int64
 2   col_2                                 int64
 3   col_3                                 int64
 4   col_4                                 int64
 5   col_5                                 int64
 6   col_6                                 int64
 7   col_7                                 int64
 8   From Bank                             int32
 9   To Bank                               int32
 10  Amount Received                       float64
 11  Amount Paid                           float64
 12  Is Laundering                         int64
 13  day                                   int64
 14  hour                                  int64
 15  minute                                int64
 16  Receiving Currency_Australian Dollar  uint8
 17  Receiving Currency_Bitcoin            uint8
 18  Receiving Currency_Brazil Real        uint8
 19  Receiving Currency_Canadian Dollar    uint8
 20  Receiving Currency_Euro               uint8
 21  Receiving Currency_Mexican Peso       uint8
 22  Receiving Currency_Ruble              uint8
 23  Receiving Currency_Rupee              uint8
 24  Receiving Currency_Saudi Riyal        uint8
 25  Receiving Currency_Shekel             uint8
 26  Receiving Currency_Swiss Franc        uint8
 27  Receiving Currency_UK Pound           uint8
 28  Receiving Currency_US Dollar          uint8
 29  Receiving Currency_Yen                uint8
 30  Receiving Currency_Yuan               uint8
 31  Payment Currency_Australian Dollar    uint8
 32  Payment Currency_Bitcoin              uint8
 33  Payment Currency_Brazil Real          uint8
 34  Payment Currency_Canadian Dollar      uint8
 35  Payment Currency_Euro                 uint8
 36  Payment Currency_Mexican Peso         uint8
 37  Payment Currency_Ruble                uint8
 38  Payment Currency_Rupee                uint8
 39  Payment Currency_Saudi Riyal          uint8
 40  Payment Currency_Shekel               uint8
 41  Payment Currency_Swiss Franc          uint8
 42  Payment Currency_UK Pound             uint8
 43  Payment Currency_US Dollar            uint8
 44  Payment Currency_Yen                  uint8
 45  Payment Currency_Yuan                 uint8
 46  Payment Format_ACH                    uint8
 47  Payment Format_Bitcoin                uint8
 48  Payment Format_Cash                   uint8
 49  Payment Format_Cheque                 uint8
 50  Payment Format_Credit Card            uint8
 51  Payment Format_Reinvestment           uint8
 52  Payment Format_Wire                   uint8
dtypes: float64(2), int32(2), int64(12), uint8(37)
memory usage: 365.5 MB

In [70]:
new_df_encoded.to_csv("preprocessedData1.csv", index=False)